{
  "printWidth": 140,
  "tabWidth": 2,
  "useTabs": false,
  "semi": false,
  "singleQuote": true,
  "bracketSpacing": true,
  "htmlWhitespaceSensitivity": "ignore",
  "trailingComma": "none",
  "arrowParens": "avoid",
  "eslintIntegration": true,
  "overrides": [
    {
      "files": "*.html",
      "options": {
        "parser": "html"
      }
    }
  ]
}
